<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" color="true">
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
    </php>
    <testsuites>
        <testsuite name="ArnmCache">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
                <directory>./composer.*</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>